ul.oglavl {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

ul.oglavl li {
  border-bottom: 1px dotted #C2C2C2; /* Необязателен. Здесь задается толщина, тип и цвет точек */
  position: relative;
  padding: 0;
  margin-bottom:5px; /* Необязателен. Задается для установки расстояния между блоками li */
}

ul.oglavl li span {
  background-color: #FFF; /* Это необходимо, чтобы перекрыть точки фоном */
  margin: 0;
}

ul.oglavl li span.text, ul.oglavl li span.page {
  bottom: -5px; /* Смещаем значимые блоки, чтобы они перекрыли точки */
}

ul.oglavl span.text {
  position :relative;
  margin-right:7em; /* Задается чтобы текст не заходил на номера страниц */
  padding-right:2px; /* Необязателен. Задается чтобы точки не подходили вплотную к концу текста */

}

ul.oglavl span.page {
  position: absolute;
  right: 0;
  padding-left:2px; /* Необязателен. Задается чтобы точки не подходили вплотную к номерам страниц */
}